{% extends 'base.html.twig' %}

{% block title %}Check email {% endblock %}

{% block body %}
<div class="row mt-5">
    <div class="col-6 mx-auto bg-light pt-5 pe-5 pb-5 pl-5">
        <h6 class="text-center"> Merci pour votre inscription</h6>
        <p class="text-center">
          La confirmation a été envoyée à <br>
          {{ user_email}}
        </p>
    </div>
</div>
<div class="row">
    <div class="col-6 mx-auto mt-5">
        <p class="text-center"><a href="{{path('app_login')}}" class="btn btn-primary"> Valider</a></p>
    </div>
</div>
{% endblock %}
